.box{
  margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 405px;
    padding: 30px;
    background: #262727;
}
