.box{
  margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 705px;
    padding: 30px;
    background: #262727;
}

.box2{
  background-color: #4e4e4e;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
  color: rgb(230, 9, 9) !important;
}
.green{
  color: rgb(20, 240, 12) !important;
}

.textFont{
  font-family: fantasy;
}

.card{
  background-color: #424242;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card{
  border-radius: 10px;
  margin-top: 10px;
  background-color: #424242;
  width: 300px;
  height: 150px;
  padding: 12px;
}

ul li{
  padding: 0 !important;
  font-weight: bold !important;
  list-style-type: none !important;
}
ul li a{
  text-decoration:dotted !important;
  padding-left: 20px;
  font-size: 0.9rem;
  font-weight: 400;
}
ul li a:hover {
  color: #00bcd4 !important;
  text-decoration: underline !important;
}


section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.even{
  background-color: rgb(52, 107, 77);
}

.odd{
  background-color: #682727;
}

.active{
  background-color: #00d400;
}

.inactive{
  background-color: #e01d03 !important;
}

.error{
  border: solid 2px red;
}
