



<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4">
      <nav class="nad-flex flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <ul>
          <li>Chapter 5: Data Binding - Interpolation is best suited for displaying text content.</li>
          <li><a class="nav-link"  (click)="showSelectedMenuItem('simple')">Simple Interpolation</a></li>
          <li><a class="nav-link"  (click)="showSelectedMenuItem('advance')">advance Interpolation to perform calculations</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('accessObject')">Interpolation to access object members</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('callMethod')">Interpolation to call a method</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('attributeValue')">Property binding. Attribute values</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('disableProperty')">Property binding. Set value of disable property</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('addCSSclass')">Property binding. Dinamically adding CSS class</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('setAria')">Setting ARIA attributes for accessibility</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('eventbinding')">Event binding</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('eventObject')">Accessing Event Data: The $event Object - Getting Details About the Interaction</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('ngModel')">Two way binding: [(ngModel)] for Input fields - the magic of synchronization</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('bidingObjectProp')">Binding to an Object property</a></li>
          <li>Chapter 6: Directives</li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('ngIf')">*ngIf: Conditional Rendering - Controlling Visibility with Precision</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('errorMessage')">Displaying Error Messages: Show an error message only if there is an error.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('loadingIndicator')">Loading Indicators: Show a loading indicator while data is being fetched from a server.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('emptyState')">Empty State Messages: Display a message when a list is empty.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('elseBlock')">The else Block: Providing an Alternative View</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('thenBlock')">The then Block: Less Common, But Still Useful</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('ngFor')">*ngFor: Looping Through Data - The Key to Dynamic Collections</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('tableRows')">Creating a Table of Data: Generate table rows from an array of data.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('navMenus')">Creating a Navigation Menu: Generate navigation links from an array of menu items.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('loopData')">*ngFor: Looping Through Data - The Key to Dynamic Collections</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('tableData')">Creating a Table of Data: Generate table rows from an array of data.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('lookNavMenu')">Creating a Navigation Menu: Generate navigation links from an array of menu items.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('accessIndexFirst')">Accessing Index, First, Last, Even, and Odd: Getting More Context</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('trackBy')">The trackBy Function</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('ngClass')">[ngClass]: Dynamic CSS Classes - Shaping the View with Style</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('addRemoveClass')">Add or remove a class based on a condition</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('errorMessage')">Displaying Validation Errors: Add an "error" class to an input field when it contains invalid data.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('listBasedStatus')">Styling List Items Based on Status</a></li>
          <li>Chapter 7 Pipes</li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('pipes')">Pipes are simple functions that accept an input value and return a transformed output value.</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('currency')">CurrencyPipe: Formatting Currencies - Making Monetary Values Understandable</a></li>
          <li>Chapter 8 User input and Forms</li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('ngSubmit')">8.3 Handling Form Submission: Capturing and Processing User Data</a></li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('inputValidation')">Adding Validation Attributes to a Form</a></li>
          <li>Chapter 9 Component Communication</li>
          <li><a class="nav-link" (click)="showSelectedMenuItem('inputDecorator')">Passing Data to Child Components - The One-Way Flow of Information</a></li>

        </ul>

      </nav>
    </div>
    <div class="col-8">

      <!-- interpolation -->
      <section class="container">
        <div class="box" *ngIf="menuItem === 'simple'" [class.links-active]="isActive">
          <p >Simple interpolation</p>
          <button class="btn btn-primary" (click)="increment()">Counter</button>
          <p>This is an example of interpolations {{counter}}</p>

        </div>

        <div class="box" *ngIf="menuItem === 'advance'">
          <p >advance Interpolation to perform calculations</p>
          <p>Adding two properties: {{number1 + number2}}</p>
        </div>

        <div class="box" *ngIf="menuItem === 'accessObject'">
          <p>Interpolation to access object members</p>
          <!--Use safe navegation operator ?. to access objects properties that might be null-->
          <p>{{cars?.brand}}</p>
        </div>

        <div class="box" *ngIf="menuItem === 'callMethod'">
          <p>Interpolation to call a method</p>
          <p>{{printHelllo()}}</p>
        </div>

      </section>

      <!-- property binding -->
      <section class="container">
        <div class="box" *ngIf="menuItem === 'attributeValue'">
          <h6 class="text-white">Property binding is better for setting elements properties like src attribute of an img tag, disabled attribute of a button tag</h6>
          <p>Property binding. Attribute values</p>
          <img [src]="imageUrl" alt="image">
        </div>

        <div class="box" *ngIf="menuItem === 'disableProperty'">
          <p>Property binding. Set value of disable property</p>
          <button class="btn btn-primary" disabled="true">Click me</button>
        </div>

        <div class="box" *ngIf="menuItem === 'addCSSclass'">
          <p>Property binding. Dinamically adding CSS class</p>
          <p [class.textFont]="isSpecialFont">Changing element's font</p>
        </div>

        <div class="box" *ngIf="menuItem === 'setAria'">
          <p>Setting ARIA attributes for accessibility</p>
          <button class="btn btn-primary" [attr.aria-label]="buttonLabel">Click me</button>

          <br>
          <p>Key differences to keep in mind</p>
          <li style="color: aliceblue;">Property binding affects the element's property in the DOM.</li>
          <li style="color: aliceblue;">Attribute binding (using attr.) affects the element's attribute in the HTML markup.</li>
        </div>

      </section>

      <!-- event binding -->
      <section class="container">

        <div class="box " *ngIf="menuItem === 'eventbinding'">
          <h6 class="text-white">Event binding</h6>
          <p>Event binding</p>
          <button class="btn btn-primary" (click)="toggleVisibility()">toggle visibility</button>

          <div *ngIf="isVisible">
            <p>I
              am now visible</p>
          </div>
        </div>

        <div class="box" *ngIf="menuItem === 'eventObject'">
          <p>Accessing Event Data: The $event Object - Getting Details About the Interaction</p>

          <input type="text" (keyup)="updateInputValue($event)">

          <p>Input value: {{inputValue}}</p>
        </div>

        <div class="box" *ngIf="menuItem === 'ngModel'">
          <p>Two way binding: [(ngModel)] for Input fields - the magic of synchronization</p>
          <p>[(ngModel)] is a shorthand for combining property and event biding</p>

          <input type="text" [(ngModel)]="propertyEvent">
          <p>Input value{{propertyEvent}}</p>

          <br>
          <ul style="color: aliceblue;">Common use cases for [(ngModel)]
            <li style="color: aliceblue;">Text Input Fields: Capturing user input in text fields.</li>
            <li style="color: aliceblue;">Textarea: Handling multi-line text input</li>
            <li style="color: aliceblue;">Select boxes: Capturing user selections from dropdown menus</li>
            <li style="color: aliceblue;">Checkboxes: Capturing boolean values from checkboxes</li>
            <li style="color: aliceblue;">Radio Buttons: Capturing selections from radio button groups.</li>
          </ul>

        </div>

        <div class="box" *ngIf="menuItem === 'bidingObjectProp'">
          <p>Binding to an Object property</p>

          <label >First Name:</label>
          <input type="text" [(ngModel)]="user.firstName">

          <label >Last Name:</label>
          <input type="text" [(ngModel)]="user.lastName">
          <br>
          <p>Full Name: {{user.firstName}} {{user.lastName}}</p>
        </div>
      </section>

      <!-- directives -->
      <section class="container">

        <div class="box" *ngIf="menuItem === 'ngIf'">
          <h6>*ngIf: Conditional Rendering - Controlling Visibility with Precision</h6>
          <h6>Common Use cases</h6>
          <li>Displaying Content Based on User Authentication: Show different content to logged-in users versus guests.</li>

          <form *ngIf="!isLoggedin" class="row-2 mt-5 g-3">
            <p>Please log in</p>
            <div class="col mt-1">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="col mt-3">
              <button type="submit" class="btn btn-primary mb-3">Login</button>
            </div>
          </form>

          <div *ngIf="isLoggedin" class="card mt-5" style="width: auto; height: 30px; background-color: #0d6efd;">
            <p>Welcome User</p>
          </div>

          <p>Avoid using seperate *ngif directives to display content based on both true and false conditions. use the else block instead</p>
          <p>See below</p>
        </div>

        <div class="box" *ngIf="menuItem === 'errorMessage'">
          <p>Displaying Error Messages: Show an error message only if there is an error.</p>

          <div class="card d-flex justify-content-center align-items-center">
            <p *ngIf="errorMessage" class="text-danger ">Error message</p>
          </div>
        </div>

        <div class="box" *ngIf="menuItem === 'loadingIndicator'">
          <p>Loading Indicators: Show a loading indicator while data is being fetched from a server.</p>

          <div *ngIf="isLoading">
            <p>Loading...</p>
          </div>

          <div *ngIf="!isLoading">
            <p>Data: {{ data }}</p>
          </div>

          <p>note: Avoid using *ngIf to display content base on true or false conditions. CSS might be a better option</p>

        </div>

        <div class="box" *ngIf="menuItem === 'emptyState'">
          <p>Empty State Messages: Display a message when a list is empty.</p>

          <div *ngIf="numbers.length === 0">
            <p>No items found</p>
          </div>

          <div *ngIf="numbers.length > 0">
            <li *ngFor="let item of numbers">{{item}}</li>
          </div>

        </div>

        <div class="box" *ngIf="menuItem === 'elseBlock'">
          <p>The else Block: Providing an Alternative View</p>

          <div *ngIf="isLoggedin; else logOutBlock">
            <button class="btn btn-primary">Welcome user</button>
          </div>

          <ng-template #logOutBlock>
            <p class="card">Please log in</p>
          </ng-template>

          <ng-template #elseBlock>Alternative Content</ng-template>
        </div>

        <div class="box" *ngIf="menuItem === 'thenBlock'">
          <p>The then Block: Less Common, But Still Useful</p>

          <div *ngIf="isLoggedin; then thenBlock else logOutBlock">
            <button class="btn btn-primary">Welcome user</button>
          </div>

          <ng-template #logOutBlock>
            <p class="card">Please log in</p>
          </ng-template>

          <ng-template #thenBlock>if condition is true Then Block displays</ng-template>
          <ng-template #elseBlock>Else Block displays</ng-template>

        </div>
      </section>

      <!--*ngIf-->
      <section class="container">


        <div class="box" *ngIf="menuItem === 'ngFor'">
          <h6>*ngFor: Looping Through Data - The Key to Dynamic Collections</h6>

          <h6>Common Use cases</h6>
          <p>Displaying a List of Products: Create a list of product cards from an array of product data.</p>

          <div class="product-card" *ngFor="let product of products">
            <li>{{product.name}}</li>
            <li>{{product.description}}</li>
            <li>{{product.price}}</li>
          </div>
        </div>

        <div class="box" *ngIf="menuItem === 'tableRows'">
          <p>Creating a Table of Data: Generate table rows from an array of data.</p>


          <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="box" *ngIf="menuItem === 'navMenus'">
          <p>Creating a Navigation Menu: Generate navigation links from an array of menu items.</p>


        </div>
      </section>

      <!--*ngFor-->
      <section class="container">

        <div class="box" *ngIf="menuItem === 'loopData'">
          <h6>*ngFor: Looping Through Data - The Key to Dynamic Collections</h6>

          <h6>Common Use cases</h6>
          <p>Displaying a List of Products: Create a list of product cards from an array of product data.</p>

          <div class="product-card" *ngFor="let product of products">
            <li>{{product.name}}</li>
            <li>{{product.description}}</li>
            <li>{{product.price}}</li>
          </div>
        </div>

        <div class="box" *ngIf="menuItem === 'tableData'">
          <p>Creating a Table of Data: Generate table rows from an array of data.</p>


          <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="box" *ngIf="menuItem === 'lookNavMenu'">
          <p>Creating a Navigation Menu: Generate navigation links from an array of menu items.</p>

          <ul>
            <li *ngFor="let element of menu" >
              <a href="{{element.link}}">{{element.name}}</a>
            </li>
          </ul>
        </div>

        <div class="box" *ngIf="menuItem === 'accessIndexFirst'">
          <p>Accessing Index, First, Last, Even, and Odd: Getting More Context</p>

          <ul>
            <!--Styling list items based on index-->
            <li *ngFor="let item of menuItems; let i = index" [class.even] = "i % 2===0" [class.odd] = "i % 2 !==0">{{item}}</li>
          </ul>


        </div>

        <div class="box" *ngIf="menuItem === 'trackBy'">
          <p>To improve performance, you can use the trackBy function to tell Angular how to uniquely identify each item in the array. The trackBy function should return a unique identifier for each item.</p>
          <p>By Using the trackBy Angular will not have to re-render each element if the list changes</p>

          <ul>
            <li *ngFor="let item of menu; trackBy: trackByFn">{{item.name}}</li>
          </ul>
        </div>

      </section>

      <!--*ngClass-->
      <section>
        <div class="box" *ngIf="menuItem === 'ngClass'">
          <h6>[ngClass]: Dynamic CSS Classes - Shaping the View with Style</h6>
          <p>Common Use cases</p>
          <p>Highlighting Active Navigation Links: Add a "active" class to the currently selected navigation link.</p>


          <!-- my-component.component.html -->
           <ul>
             <li><a routerLink="/home" [ngClass]="{ 'active': activeRoute === '/home' }">Home</a></li>
             <li><a routerLink="/about" [ngClass]="{ 'active': activeRoute === '/about' }">About</a></li>
             <li><a routerLink="/contact" [ngClass]="{ 'active': activeRoute === '/contact' }">Contact</a></li>
           </ul>
        </div>

        <div class="box" *ngIf="menuItem === 'addRemoveClass'">
          <p>Add or remove a class based on a condition</p>

          <div class="box2" [ngClass]="{'active': isActive, 'inactive': !isActive}" (click)="toggleLi()">
            <p>I am a box</p>
          </div>

        </div>

        <div class="box"  *ngIf="menuItem === 'errorMessage'">
          <p>Displaying Validation Errors: Add an "error" class to an input field when it contains invalid data.</p>

          <input class="form-control" type="text" [(ngModel)]="email" [ngClass]="{'error': email ===''}">
        </div>

        <div class="box" *ngIf="menuItem === 'listBasedStatus'">
          <p>Styling List Items Based on Status: Apply different styles to list items based on their status (e.g., "completed," "pending," "in progress").</p>

          <ul>
            <li *ngFor="let item of shoppingList" [ngClass]="{'green': item.purchased === true, 'red': !item.purchased === true}">{{item.name}}</li>
          </ul>


        </div>
      </section>

      <!--Pipes -->
      <section class="container">
        <div class="box" *ngIf="menuItem === 'pipes'">
          <h6>Chapter 7 Pipes</h6>
          <p>Pipes are simple functions that accept an input value and return a transformed output value. They are used in Angular templates to format and transform data before it is displayed to the user.</p>

          <p>Short Date: {{myDate | date:'short'}}</p>
          <p>Medium Date: {{myDate | date:'medium'}}</p>
          <p>Long Date: {{myDate | date:'long'}}</p>
          <p>Custom format: {{myDate | date:'yyyy-mm-dd hh:mm:ss'}}</p>

          <br>
          <p>The DatePipe uses the user's local timezone by default. You can specify a different timezone by passing a timezone string as the third argument to the pipe:</p>

          <p>Date in UTC: {{ myDate | date:'medium':'UTC' }}</p>
        </div>

        <div class="box" *ngIf="menuItem === 'currency'">
          <p>CurrencyPipe: Formatting Currencies - Making Monetary Values Understandable</p>
        </div>
      </section>

      <!--ngSubmit -->
      <section>
        <div class="box" *ngIf="menuItem === 'ngSubmit'">

          <p>To handle form submission, you use the (ngSubmit) event binding on the form element:</p>

          <form (ngSubmit)="onSubmit($event)">

            <!-- Form controls go here -->
            <div>
              <label class="form-label" for="nameInput">Name:</label>
              <input class="form-control" type="text" id="nameInput" [(ngModel)]="formName" name="name" required>
            </div>
             <div>
              <label class="form-label" for="emailInput">Email:</label>
              <input class="form-control" type="email" id="emailInput" [(ngModel)]="formEmail" name="email" required>
            </div>
            <div>
              <label class="form-label" for="messageInput">Message:</label>
              <textarea class="form-control" id="messageInput" [(ngModel)]="formMessage" name="message" required></textarea>
            </div>
            <button class="btn btn-primary mt-5" type="submit">Submit</button>
          </form>

        </div>

        <div class="box" *ngIf="menuItem === 'inputValidation'">
          <p>Adding Validation Attributes to a Form</p>

          <h6>Common html5 validation Attributes</h6>

          <div class="d-flex flex-start flex-column">
            <p><strong>required:</strong> Specifies that the input field must be filled out before the form can be submitted.</p>
            <p><strong>minlength: </strong>Specifies the minimum length of the input value.</p>
            <p><strong>maxlength:</strong> Specifies the maximum length of the input value.</p>
            <p><strong>pattern:</strong> Specifies a regular expression that the input value must match. This allows very precise format control, such as phone numbers or specific license plate patterns.</p>
            <p><strong>type="email":</strong> Specifies that the input field should contain a valid email address. This triggers built-in email format validation.</p>
            <p><strong>type="number":</strong> Specifies that the input field should contain a valid number. This trigger built-in number formatting validation.</p>
            <p><strong>min:</strong> Specifies the minimum value for a number input.</p>
            <p><strong>max:</strong> Specifies the maximum value for a number input.</p>
          </div>

          <form (ngSubmit)="onSubmit($event)">
            <div class="mb-3">
              <label for="nameInput" class="form-label">Name:</label>
              <input class="form-control" type="text" id="nameInput" [(ngModel)]="forName"  name="name"  required  minlength="3"  #nameInput="ngModel">

              <!---->
              <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
                <div *ngIf="nameInput.errors?.required">Name is required.</div>
                <div *ngIf="nameInput.errors?.minlength">Name must be at least 3 characters long.</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="emailInput" class="form-label">Email:</label>
              <input class="form-control" type="email" id="emailInput" [(ngModel)]="formEmail" name="email" required>
            </div>

            <div class="mb-3">
              <label for="ageInput" class="form-label">Age:</label>
              <input class="form-control" type="number" id="ageInput" [(ngModel)]="formAge" name="age" min="18" max="99">
            </div>


            <button class="btn btn-primary mt-5" type="submit">Submit</button>
          </form>

          <div class="d-flex flex-start flex-column mt-5">
            <p><strong>valid:</strong> A boolean value indicating whether the form control is valid.</p>
            <p><strong>invalid:</strong> A boolean value indicating whether the form control is invalid.</p>
            <p><strong>errors:</strong> An object containing any validation errors. This object will have properties corresponding to each validation error. For example, if the input is required and empty, there will be a required property. If the input does not meet the minlength, there will be a minlength property.</p>
            <p><strong>dirty:</strong> A boolean value indicating whether the control's value has been changed.</p>
            <p><strong>touched:</strong> A boolean value indicating whether the control has been blurred (lost focus).</p>
          </div>



        </div>
      </section>

      <!--@Input()-->
      <section>
        <div class="box" *ngIf="menuItem==='inputDecorator'">

        </div>
      </section>

    </div>
  </div>
</div>
